footer {
    background: #222;
    color: #ccc;
    font-size: 1em;
    padding: 2em 0 6em 0;

    .row {
        display: flex;

        @media screen and (max-width: 800px) {
            flex-direction: column;

            .col {
                width: 100%;
                padding: 1em !important;
            }
        }

    }

    .col {
        padding: 2em;

        &:first-child { padding-left: 0; }
        &:last-child { padding-right: 0; }

        h4 {
            color: white;
        }
    }

    .logos {
        width: 25%;
    
        .logo {
            width: 10em;
            margin-top: 1em;
        }
    }

    .contact {
        width: 30%;

        a { white-space: nowrap; }
    }

    .socials {
        img {
            width: 2em;
        }
    }

    .opening-times {
        // width: 20%;
        flex-grow: 1;
    }

    .mabel-bhi-businesshours {
        text-transform: capitalize;

        .mbhi-is-current {
            color: white;
        }

        td {
            padding-right: 0.6em;
            padding-bottom: 0.6em;
        }
    }

    .directions {
        width: auto;

        iframe {
            width: 20em;
            height: 15em;
        }

        @media screen and (max-width: 480px) {
            iframe {
                width: 100%;
                height: 12em;
            }
        }
    }

    .copyright {
        font-weight: 300;
        text-align: center;
        width: 100%;
        margin-top: 2em;

        // p {
        //     margin-bottom: 3em;
        // }

        .logo {
            width: 10.5em;
            margin-bottom: 0.5em;
        }

        .brands {
            color: transparent;

            img {
                width: 5em;
                margin: 0.6em;
            }

            &.vandermolen img {
                width: 200px;
            }
        }
    }
}