h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Condensed', sans-serif;
    color: #222;

    &.fancy {
        letter-spacing: 0.5em;
        text-transform: uppercase;
    }
}

img {
    max-width: 100%;
    align-self: center;
}

p, ul, ol {
    line-height: 1.8;
    margin: 0.5em 0;
}

a {
    color: $accent;
}

.btn {
    display: inline-block;
    text-decoration: none;
    margin: 1em 0;
    padding: 0.5em 2em;
    background: $accent;
    color: white;
    cursor: pointer;
    border-radius: 0.2em;
}

.readable {
    max-width: 40em;
}

.prettyprint {
    padding: 3em 0;
    margin: auto;
    font-family: 'Open Sans', sans-serif;

    h1 {
        font-size: 1.6em;
        margin: 1.5em 0 1em 0;
    }

    h2 {
        font-size: 1.4em;
        margin: 1.5em 0 1em 0;
    }

    p {
        color: #666;
        font-size: 1.1em;
        font-weight: 300;
        line-height: 2;
        margin: 1em 0;
    }

    img {
        margin: 1em;
        max-width: 9em;
        height: auto;

        &.aligncenter {
            text-align: center;
            margin-right: auto;
            margin-left: auto;
            display: block;
            clear: both;
        }
        
        &.alignright {
            float: right;
            margin-right: 0;
            margin-top: 0;
        }

        &.alignleft {
            float: left;
            margin-left: 0;
            margin-top: 0;
        }

        @media screen and (max-width: 500px) {
            &.alignright, 
            &.alignleft {
                max-width: 5em;
            }
        }
    }
}
