.modellenboek {
    padding: 1em 0;

    @media screen and (max-width: 640px) {
        padding: 2em 0;
    }

    .grid {
        display: flex;
        flex-wrap: wrap;
        
        .item {
            width: calc(25% - 2em);
            margin: 1em;
            overflow: hidden;

            &:hover {
                .model {
                    transform: scale(1.1);
                }
            }

            @media screen and (max-width: 900px) {
                width: calc(50% - 2em);
            }

            @media screen and (max-width: 640px) {
                width: calc(50% - 0.4em);
                margin: 0.2em
            }
        }

        .model {
            cursor: pointer;
            height: 100%;
            width: 100%;
            padding-bottom: 130%;
            background-size: cover;
            background-position: center;
            transition: all 400ms ease-out;
        }
    }
}