@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Nothing+You+Could+Do');

$accent: #5188F7;
$darkblue: #07374D;

* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

.maxwidth {
    margin: auto;
    max-width: 1200px;
    width: 90%;
}

.flex-row {
    position: relative;
    display: flex;
    margin: 0 -0.75em;

    .col {
        position: relative;
        padding: 0.75em;
        width: 33%;

        > div {
            height: 100%;
        }
    }

    @media screen and (max-width: 480px) {
        margin: 0 0.4em;

        .col { padding: 0.4em; }
    }
}

.overlay-blue {
    position: relative; 
    background-size: cover;
    background-position: center;

    > div {
        position: relative;
        z-index: 10;
    }

    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        height: 100%;
        width: 100%;
        background: $darkblue;
        opacity: 0.85;
    }
}

@import 'markup';
@import 'nav';
@import 'header';
@import 'footer';
@import 'home';
@import 'home-2020';
@import 'modellenboek';


.models {
    display: flex;
    margin: 0 -0.5em;

    img {
        margin: 0;
        padding: 0.5em;
        max-width: 100%;
        width: 25%;
    }
}
